# --- Kafka Configuration ---

# The address of the Kafka broker.
# IMPORTANT:
# - Use 'kafka:29092' when running code INSIDE the Docker container.
# - Use 'localhost:9092' when running code LOCALLY on your machine.
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

# --- Docker Compose Ports ---

# External port for the Kafka broker (host:container mapping).
KAFKA_EXTERNAL_PORT=9092

# External port for the auth-server service (host:container mapping).
AUTH_SERVER_EXTERNAL_PORT=8001

# External port for the client service (host:container mapping).
CLIENT_EXTERNAL_PORT=8080
